body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 2px solid #00ff00;
    background-color: #000000;
    box-shadow: 0 0 10px #00ff00;
    width: 95vw;
    height: 85vh;
}