body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

#hider { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    object-fit: cover; 
    z-index: 10;
    filter: brightness(0.5); 
}